pre {
	white-space: pre-wrap;
	line-height: 1.2rem;
}

h1 {
	position: relative;
	display: flex;
	align-items: center;
}
h1 > span {
	font-size: 1rem;
}
.name,
.parameters {
	color: var(--color-accent-emphasis);
	font-size: 2.5rem;
	font-weight: 400;
}
.parameters {
	font-style: italic;
}
.kind {
	position: absolute;
	left: 0;
	bottom: 100%;
	background: var(--color-accent-fg);
	color: var(--color-canvas-subtle);
	padding: 5px 10px;
}

.signature {
	display: block;
	margin-left: 1rem;
}
.type {
	font-style: italic;
}
.symbol.nl {
	display: block;
}
