yaf-member,
yaf-member-signatures,
yaf-signature-body,
yaf-signature-parameters,
yaf-signature-parameters-type {
	display: block;
}
yaf-member-group-reflection yaf-member {
	border-left: 3px solid var(--color-fg-subtle);
}
yaf-signature-parameters,
yaf-signature-parameters-type {
	table {
		display: table;
		width: 100%;
		th {
			background: var(--color-attention-subtle);
		}
		td {
			vertical-align: top;
		}
		td.type {
			pre {
				padding: 0;
				background: none;
				display: block;
				white-space: pre-wrap;
			}
		}
	}
}

yaf-member {
	margin-bottom: 3rem;

	h3 > span {
		margin-bottom: 0.25rem;
	}
	yaf-signature-title {
		.wrapper {
			display: block;
			margin-left: 1rem;
		}
	}
	.header {
		display: flex;
		align-items: center;
		color: var(--color-fg-subtle);
		border-bottom: 1px solid var(--color-fg-subtle);
		margin-bottom: 0;
		.flag {
			border-bottom: none;
		}
		& > .name {
			display: flex;
			align-items: center;
			.yaficon {
				padding-left: 0.5rem;
				opacity: 0;
				transition: opacity var(--transition-fades);
				cursor: copy;
			}
			.name {
				cursor: context-menu;
			}
		}
		& > .name:hover {
			.yaficon {
				opacity: 0.75;
			}
		}
	}

	pre.highlight {
		border-radius: 0;
		margin-bottom: 0;
		margin-bottom: 1rem;
	}
	.flag {
		margin-left: 0.5rem;
	}
}
yaf-member-signatures {
	.flag {
		border: none;
		background-color: var(--color-canvas-subtle);
		margin-right: 1px;
	}
	pre {
		border-radius: 0;
	}
	padding-bottom: 1rem;
	margin-bottom: 3rem;
	border-bottom: 1px solid var(--color-border-muted);
}
yaf-member-getter-setter {
	& > .wrapper {
		margin-bottom: 2rem;
		padding-bottom: 2rem;
		border-bottom: 1px solid var(--color-border-muted);
	}
}
