yaf-chrome-left,
yaf-chrome-header,
yaf-chrome-content {
	display: block;
	background: var(--color-canvas-default);
}

yaf-chrome-left {
	flex: 0 0 var(--dim-menu-width);
	overflow: hidden;
	&.activeSearch #menuWrapper {
		background: var(--color-neutral-muted);
	}
	@import 'yafNavigation.scss';
}
yaf-chrome-right {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex-grow: 1;
	yaf-chrome-content {
		@import '../github-markdown.scss';
		@import 'yafContent.scss';
	}
}

yaf-chrome-header[context='mobile'] {
	display: none;
	#mobileNav,
	#hamburger {
		.yaficon {
			cursor: pointer;
		}
	}
	#mobileNav {
		.yaficon {
			padding: 0 0.5rem;
		}
		.projectHome {
			font-weight: 450;
			font-size: 1.2rem;
		}
	}
}
yaf-chrome-header {
	flex: 0 0 var(--dim-header-height);
	background: var(--color-accent-fg);
	display: flex;
	color: var(--color-canvas-default);
	* {
		user-select: none;
	}

	.breadcrumb {
		color: var(--color-canvas-subtle);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		yaf-navigation-link {
			display: block;
		}
		a {
			padding: 0.5rem 0;
			display: block;
		}
		.divider {
			padding: 0 0.5rem;
		}
	}
	a {
		text-decoration: none;
		color: var(--color-canvas-subtle);
	}
}
yaf-chrome-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	position: relative;
}
yaf-chrome-footer {
	display: flex;
	border-top: 1px solid var(--color-border-default);
	flex: 0 0 var(--dim-footer-height);
	width: 100%;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
	color: var(--color-fg-muted);
}
