yaf-chrome-left,
yaf-chrome-header,
yaf-chrome-content {
	display: block;
	background: var(--color-canvas-default);
}

yaf-chrome-content {
	overflow: scroll;
	scroll-behavior: smooth;
}

yaf-chrome-left {
	flex: 0 0 var(--dim-menu-width);
	@import 'yafNavigation.scss';
}
yaf-chrome-right {
	display: flex;
	flex-direction: column;
	flex: 2;
}

yaf-chrome-content {
	@import '../github-markdown.scss';
	@import 'yafContent.scss';
}

yaf-chrome-header[context='mobile'] {
	display: none;
}
yaf-chrome-header {
	flex: 0 1 var(--dim-header-height);
	background: var(--color-accent-fg);
	display: flex;
	color: var(--color-canvas-default);
	* {
		user-select: none;
	}

	#mobileNav,
	#hamburger {
		display: none;
		.yaficon {
			cursor: pointer;
		}
	}
	#mobileNav {
		.yaficon {
			padding: 0 0.5rem;
		}
		.projectHome {
			font-weight: 450;
			font-size: 1.2rem;
		}
	}
	.breadcrumb {
		color: var(--color-canvas-subtle);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		yaf-navigation-link {
			display: block;
		}
		a {
			padding: 0.5rem 0;
			display: block;
		}
		.divider {
			padding: 0 0.5rem;
		}
	}
	a {
		text-decoration: none;
		color: var(--color-canvas-subtle);
	}
}
