yaf-member,
yaf-member-signatures {
	display: block;
}
yaf-member-group-reflection yaf-member {
	border-left: 3px solid var(--color-fg-subtle);
}

yaf-member-signatures {
	position: relative;
	display: block;
	.flag {
		border: none;
		background-color: var(--color-canvas-subtle);
		margin-right: 1px;
	}
	pre {
		border-radius: 0;
	}
	padding-bottom: 1rem;
	margin-bottom: 3rem;
	border-bottom: 1px solid var(--color-fg-subtle);
}
yaf-member-getter-setter {
	& > .wrapper {
		margin-bottom: 2rem;
		padding-bottom: 2rem;
		border-bottom: 1px solid var(--color-border-muted);
	}
}
yaf-member {
	display: block;
	margin-bottom: 3rem;
	h3 {
		yaf-navigation-link {
			display: flex;
			position: relative;
			align-items: center;
			background: var(--color-fg-subtle);
			left: -0.5rem;
		}
		yaf-navigation-link:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background: var(--color-border-default);
			bottom: -1px;
			left: 0;
		}
		a {
			padding: 0.25rem 1rem;
			cursor: pointer;
			display: block;

			color: var(--color-canvas-default);
			font-weight: 350;
			font-size: 1.2rem;
		}

		a:hover {
			text-decoration: none;
			color: var(--color-attention-subtle);
		}
	}
	.inner > yaf-member-signatures > yaf-signature-title,
	yaf-member-declaration > yaf-member-signatures > yaf-signature-title {
		background: var(--color-canvas-subtle);
		width: 100%;
		display: block;
		position: relative;
		& > .wrapper {
			display: block;
			margin-left: 1rem;
		}
		.highlight {
			position: relative;
			left: -0.5rem;
		}
	}

	.header {
		display: flex;
		align-items: stretch;
		color: var(--color-fg-subtle);
		border-bottom: 1px solid var(--color-fg-subtle);
		margin-bottom: 0;
		.flag {
			border-bottom: none;
		}
	}

	pre.highlight {
		border-radius: 0;
		margin-bottom: 0;
		margin-bottom: 1rem;
	}

	.flag {
		margin-left: 0.5rem;
	}
}
