& {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	yaf-navigation-search {
		display: block;
		opacity: 0;
		transition: opacity var(--transition-fades);
		z-index: 1;
		position: absolute;
	}
	yaf-navigation-menu {
		display: block;
		opacity: 100%;
		transition: opacity var(--transition-fades);
		z-index: 2;
		position: relative;
	}
}
&.activeSearch {
	yaf-navigation-search {
		z-index: 2;
		opacity: 100%;
		position: relative;
	}
	yaf-navigation-menu {
		opacity: 0;
		z-index: 1;
		position: absolute;
	}
}
yaf-navigation-header {
	#projectTitle {
		background: var(--color-accent-fg);
		color: var(--color-canvas-subtle);
		padding: 0.25rem 1rem;
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 1.2rem;
		user-select: none;
		.title {
			flex-grow: 1;
			padding: 1rem;
		}
		a {
			display: block;
			color: var(--color-canvas-subtle);
		}
		a:hover {
			color: var(--color-border-default);
		}
	}
	display: flex;
	flex-direction: column;
	border: 1px solid var(--color-accent-fg);
	border-left: none;
	.controls-navigation {
		user-select: none;
		height: 2rem;
		display: flex;
		align-items: center;
		yaf-navigation-searchbar {
			flex-grow: 1;
			display: flex;
			height: 100%;
			position: relative;
			align-items: center;

			input {
				width: calc(100% - 8px);
				height: calc(100% - 8px);
				display: block;
				border: none;
				border-radius: 0;
				padding-left: 1rem;
				padding-right: 2em;
				margin-left: 4px;
				background-color: var(--color-canvas-subtle);
			}
			input:invalid {
				color: var(--color-danger-fg);
			}
			.wrapper {
				height: calc(100% - 8px);
				aspect-ratio: 1/1;
				position: absolute;
				right: 4px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.searchIcon,
			.clearIcon {
				color: var(--color-fg-muted);
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.clearIcon {
				display: none;
				cursor: pointer;
			}
			&.focussed {
				.clearIcon {
					display: flex;
				}
				.searchIcon {
					display: none;
				}
			}
		}
		.button,
		.info {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2rem;
			height: 2rem;
			cursor: pointer;
			color: var(--color-fg-default);
			text-decoration: none;
			transition: all var(--transition-fades);
		}
		.button:hover,
		.info:hover {
			background: var(--color-border-default);
			color: var(--color-accent-emphasis);
		}
		.controls-drawers {
			display: flex;
			.open.button {
				padding-left: 0.5rem;
			}
			.close.button {
				padding-right: 0.5rem;
			}
		}
		.info {
			font-size: 2px !important;
		}
	}
	&.open .info {
		background: var(--color-border-default);
		color: var(--color-accent-emphasis);
		> span:first-child {
			display: none;
		}
	}
	&.open .drawers-info {
		border-top: 1px solid var(--color-border-default);
	}
	&.closed .info {
		> span:last-child {
			display: none;
		}
	}
	.drawers-info {
		position: relative;
		width: 100%;
		background: var(--color-border-default);
		.inner {
			display: flex;
			padding: 0.5rem;
			flex-wrap: wrap;
		}
		.widget {
			padding: 0.5rem;

			display: flex;
			align-items: center;
			justify-content: center;
		}
		.name {
			color: var(--color-fg-muted);
		}
	}
}
#menuWrapper {
	flex-grow: 1;

	border-right: 1px solid var(--color-border-default);
	position: relative;
	overflow: hidden;
}

yaf-navigation-search,
yaf-navigation-menu {
	padding: 1rem;
	width: 100%;
	height: 100%;
}
yaf-navigation-search {
	.results {
		position: relative;
		z-index: 1;
		li {
			display: flex;
			align-items: center;
			padding: 0.5rem 0;
			a {
				display: flex;
				flex-direction: column;
				text-decoration: none;
				.name {
					color: var(--color-fg-default);
				}
				.symbol {
					color: var(--color-fg-muted);
					font-size: 0.8rem;
					font-weight: 300;
				}
				.lit {
					color: var(--color-accent-emphasis);
				}
			}
		}
	}
}
yaf-navigation-menu {
	.rendered {
		.icon > span {
			transition: background-color var(--transition-rotates);
		}
	}
	menu,
	ul {
		ul {
			padding: 0 0.5rem;
			li:last-child {
				padding-bottom: 1rem;
			}
		}
	}
	yaf-navigation-menu-branch {
		display: list-item;
		padding: 0;

		a {
			color: var(--color-fg-default);
			text-decoration: none;
			transition: color var(--transition-fades);
			.name {
				padding: 0.5rem 0;
			}
		}
		.yaf-drawer.show .hide a {
			color: var(--color-fg-muted);
		}
		.yaf-drawer.show .hide a:hover,
		a:hover {
			color: var(--color-accent-fg);
		}
		.header.parent {
			border-bottom: 1px solid var(--color-border-muted);
			margin: 0.25rem 0;
		}
		.header {
			display: flex;
			width: 100%;
			align-items: center;

			transition: border var(--transition-fades);

			> yaf-navigation-link {
				display: flex;
				align-items: center;
				flex-grow: 1;
				position: relative;
				overflow: hidden;
				a {
					display: block;
					max-width: 100%;
					position: relative;
					overflow: hidden;
					.name {
						display: block;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						padding-right: 0.5rem;
					}
				}
			}
			> yaf-navigation-link:hover {
				a .name {
					overflow: visible;
					float: right;
				}
			}

			.trigger {
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				align-self: flex-end;
				flex: 0 0 auto;
				.icon {
					display: flex;
					align-items: center;
					justify-content: center;
					border: 1px solid var(--color-border-muted);
					border-bottom: none;
					width: var(--size);
					height: var(--size);
					margin-left: calc(var(--size) / 2);
					transition: all var(--transition-fades);
				}
				yaf-widget-counter {
					flex: 0 0 auto;
					height: 100%;
					padding-right: 0.5rem;
				}
			}
			.trigger:hover {
				.icon {
					background: var(--color-border-muted);
					color: var(--color-accent-fg);
				}
			}
		}

		.inherited_toggle {
			cursor: pointer;
			font-size: 0.9rem;
			padding: 0.5rem;
			color: var(--color-fg-muted);
			border: 1px solid var(--color-border-muted);
			margin-bottom: 0.5rem;
			text-align: center;
		}
		.yaf-drawer.hide > .hide {
			overflow: hidden;
			height: 0px;
			opacity: 0;
		}

		yaf-navigation-menu-branch {
			margin-right: var(--size);
		}
	}
	yaf-navigation-menu-branch.closed {
		> .header {
			.icon > span {
				transform: rotate(270deg);
			}
		}
	}
	yaf-navigation-menu-branch.open {
		> .header {
			border-bottom-color: var(--color-accent-fg);
			.name {
				font-weight: 550;
			}
			.icon {
				border-color: var(--color-accent-fg);
				background: var(--color-accent-fg);
				color: var(--color-canvas-subtle);
			}
			.icon > span {
				transform: rotate(180deg);
			}
		}
	}
}

yaf-navigation-footer {
	display: block;
	position: relative;
	border-top: 1px solid var(--color-border-default);
	border-right: 1px solid var(--color-border-default);
	flex: 0 0 var(--dim-footer-height);

	background-color: var(--color-accent-fg);
	padding: 0 1rem;
	select {
		width: 100%;
		height: 100%;
		border: none;
		border-radius: 0;
		box-shadow: none;
		background-color: var(--color-accent-fg);
		color: var(--color-canvas-default);
	}
}
