& {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
yaf-navigation-header {
	#projectTitle {
		background: var(--color-accent-fg);
		color: var(--color-canvas-subtle);
		padding: 0.25rem 1rem;
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 1.2rem;
		user-select: none;
		.title {
			flex-grow: 1;
			padding: 1rem;
		}
		a {
			display: block;
			color: var(--color-canvas-subtle);
		}
		a:hover {
			color: var(--color-border-default);
		}
	}
	display: flex;
	flex-direction: column;
	border: 1px solid var(--color-accent-fg);
	border-left: none;
	.controls-navigation {
		user-select: none;
		height: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.button,
		.info {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2rem;
			height: 2rem;
			cursor: pointer;
			color: var(--color-fg-default);
			text-decoration: none;
			transition: all var(--transition-fades);
		}
		.button:hover,
		.info:hover {
			background: var(--color-border-default);
			color: var(--color-accent-emphasis);
		}
		.controls-drawers {
			display: flex;
			.open.button {
				padding-left: 0.5rem;
			}
			.close.button {
				padding-right: 0.5rem;
			}
		}
		.info {
			font-size: 2px !important;
		}
	}
	&.open .info {
		background: var(--color-border-default);
		color: var(--color-accent-emphasis);
		> span:first-child {
			display: none;
		}
	}
	&.open .drawers-info {
		border-top: 1px solid var(--color-border-default);
	}
	&.closed .info {
		> span:last-child {
			display: none;
		}
	}
	.drawers-info {
		position: relative;
		width: 100%;
		background: var(--color-border-default);
		.inner {
			display: flex;
			padding: 0.5rem;
			flex-wrap: wrap;
		}
		.widget {
			padding: 0.5rem;

			display: flex;
			align-items: center;
			justify-content: center;
		}
		.name {
			color: var(--color-fg-muted);
		}
	}
}

yaf-navigation-menu {
	overflow: scroll;
	flex-grow: 1;
	padding: 1rem;
	--size: 1.5rem;
	border-right: 1px solid var(--color-border-default);
	.rendered {
		.icon > span {
			transition: all var(--transition-rotates);
		}
	}
	menu,
	ul {
		ul {
			padding-left: 1rem;
			li:last-child {
				padding-bottom: 1rem;
			}
		}
	}
	yaf-navigation-menu-branch {
		display: list-item;
		padding: 0;

		a {
			color: var(--color-fg-default);
			text-decoration: none;
			transition: color var(--transition-fades);
			padding: 0.5rem 0;
		}
		.yaf-drawer.show .hide a {
			color: var(--color-fg-muted);
		}
		.yaf-drawer.show .hide a:hover,
		a:hover {
			color: var(--color-accent-fg);
		}
		.header.parent {
			border-bottom: 1px solid var(--color-border-muted);
			margin: 0.25rem 0;
		}
		.header {
			//margin-bottom: calc(var(--size) / 2);
			display: flex;
			width: 100%;
			align-items: center;

			transition: border var(--transition-fades);

			> yaf-navigation-link {
				display: flex;
				align-items: center;
				flex-grow: 1;
			}

			.trigger {
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				align-self: flex-end;
				.icon {
					display: flex;
					align-items: center;
					justify-content: center;
					border: 1px solid var(--color-border-muted);
					border-bottom: none;
					width: var(--size);
					height: var(--size);
					margin-left: calc(var(--size) / 2);
					transition: all var(--transition-fades);
				}
			}
			.trigger:hover {
				.icon {
					background: var(--color-border-muted);
					color: var(--color-accent-fg);
				}
			}
		}

		.inherited_toggle {
			cursor: pointer;
			font-size: 0.9rem;
			padding: 0.5rem;
			color: var(--color-fg-muted);
			border: 1px solid var(--color-border-muted);
			margin-bottom: 0.5rem;
			text-align: center;
		}
		.yaf-drawer.hide > .hide {
			overflow: hidden;
			height: 0px;
			opacity: 0;
		}

		yaf-navigation-menu-branch {
			margin-right: var(--size);
		}
	}
	yaf-navigation-menu-branch.closed {
		> .header {
			.icon > span {
				transform: rotate(270deg);
			}
		}
	}
	yaf-navigation-menu-branch.open {
		> .header {
			border-bottom-color: var(--color-accent-fg);
			.name {
				font-weight: 600;
			}
			.icon {
				border-color: var(--color-accent-fg);
				background: var(--color-accent-fg);
				color: var(--color-canvas-subtle);
			}
			.icon > span {
				transform: rotate(180deg);
			}
		}
	}
}

yaf-navigation-footer {
	display: block;
	border-top: 1px solid var(--color-border-default);
	border-right: 1px solid var(--color-border-default);
	flex: 0 0 var(--dim-footer-height);
	padding: 1rem;
	color: var(--color-fg-muted);
}

yaf-navigation-searchbar {
	padding-left: 1rem;
	color: var(--color-fg-muted);
}
