yaf-widget-tag-toggle {
	display: flex;
	span {
		cursor: pointer;
		font-size: 0.9rem;
		padding: 0.5rem;
		margin: 0 0.25rem;
		color: var(--color-fg-muted);
		border: 1px solid var(--color-border-muted);
		margin-bottom: 0.5rem;
		text-align: center;
	}
}
*[inherited='hide'] > ul > .inherited {
	display: none !important;
}
*[private='hide'] > ul > .private {
	display: none !important;
}

yaf-widget-counter {
	font-weight: 300;
	user-select: none;
	.count {
		font-weight: 550;
	}
}

yaf-widget-kind {
	display: flex;
	width: 1.2rem;
	height: 1.2rem;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-right: 0.25rem;
	user-select: none;
	flex: 0 0 auto;
	> span {
		padding-top: 1px;
		font-size: 0.65rem;
		font-weight: 550;
	}
	color: var(--color-canvas-default);
	&.accessor {
		background: var(--color-prettylights-syntax-entity-tag);
		border-radius: 50%;
	}
	&.class {
		background: var(--color-prettylights-syntax-entity);
	}
	&.constructor {
		background: var(--color-prettylights-syntax-entity);
		border-radius: 50%;
	}
	&.enum {
		background: var(--color-prettylights-syntax-entity-tag);
	}
	&.function {
		background: var(--color-prettylights-syntax-constant);
		border-radius: 50%;
	}
	&.interface {
		background: var(--color-prettylights-syntax-entity);
	}
	&.method {
		background: var(--color-prettylights-syntax-string);
		border-radius: 50%;
	}
	&.namespace {
		background: var(--color-accent-fg);
	}
	&.property {
		background: var(--color-prettylights-syntax-variable);
		border-radius: 50%;
	}
	&.reference {
		background: var(--color-prettylights-syntax-entity);
	}
	&.variable {
		background: var(--color-prettylights-syntax-variable);
		border-radius: 50%;
	}
	&.typealias {
		background: var(--color-prettylights-syntax-variable);
		border-radius: 50%;
	}
	&.module {
		background: var(--color-accent-fg);
	}
}
