ul {
	list-style-type: none;
}

#menu {
	overflow: auto;
	padding: 1rem;
}
#content {
	padding: 1rem;
	height: 100%;
	overflow: auto;
}

#yaf-nav-primary a {
	display:block;
	padding-left: 2em;
	text-decoration: none;
	color: var(--light-color-text)
}
#yaf-nav-primary a:hover{
	background: var(--light-color-background-secondary)
}
#yaf-nav-primary .root,
#yaf-nav-primary .root ul {
	margin: 0 0 0 1rem;
	padding: 0;
	list-style: none;
	position: relative;
}

#yaf-nav-primary .root ul {
	margin-left: 1rem;
}

#yaf-nav-primary .root:before,
#yaf-nav-primary .root ul:before {
	content: "";
	display: block;
	width: 0;
	position: absolute;
	top: calc(var(--yaf-menu-lineheight-half)*-1 );
	bottom: 0;
	left: 0;
	border-left: 1px solid var(--yaf-menu-lineColor);
}

#yaf-nav-primary .root li {
	margin: 0;
	padding: 0 var(--yaf-menu-gutterWidth);
	line-height: var(--yaf-menu-lineheight);
	vertical-align: middle;
	font-weight: bold;
	position: relative;
}

#yaf-nav-primary .root li:before {
	content: "";
	display: block;
	width: calc(var(--yaf-menu-gutterWidth)*2);
	height: 0;
	border-top: 1px solid var(--yaf-menu-lineColor);
	margin-top: -1px;
	position: absolute;
	top: var(--yaf-menu-lineheight-half);
	left: 0;
}

#yaf-nav-primary .root li:last-child:before {
	background: var(--light-color-background);
	height: auto;
	top: var(--yaf-menu-lineheight-half);
	bottom: 0;
}