/.*
*.tgz

!/.gitignore
!/.gitattributes
!/.npmignore
!/.eslint*
!/.prettier*

/*/
/test/*/
/test/screenshots/Chromium/failed/
/dist/*

!/.vscode/
!/.github/
!/dist/
!/dist/package.json
!/scripts/
!/src/
!/tsconfig/
!/test/
!/test/backend/
!/test/frontend/
!/test/examples/
!/test/screenshots/
