pre {
    white-space: pre-wrap;
    line-height: 1.2rem;
}

.name {
    font-weight: bold;
}
.signature {
    display: block;
    margin-left: 1rem;
}
.type {
    font-style:italic;
}
.symbol.nl {
    display: block;
}