yaf-chrome-content {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
}
yaf-chrome-header {
    flex-basis: var(--dim-header-height);
    min-height: var(--dim-header-height);
    border-bottom: 1px solid var(--col-line);
}
yaf-chrome-footer {
    flex-basis: var(--dim-footer-height);
    min-height: var(--dim-footer-height);
    border-top: 1px solid var(--col-line);
}
yaf-content {
    flex-grow: 1;
    padding:1rem;
}