yaf-chrome-left,
yaf-chrome-content {
	display: block;
	position: absolute;
	overflow: scroll;
	height: 100%;
	top: 0;
}
yaf-chrome-left {
	width: var(--dim-menu-width);
	left: 0;
	overflow: hidden;
	border-right: 1px solid var(--color-border-default);
}
yaf-chrome-content {
	width: calc(100vw - var(--dim-menu-width));
	right: 0;
	padding: 2rem;
}
@media screen and (max-width: 900px) {
	yaf-chrome-left {
		display: none;
	}
}
