yaf-content {
	display: block;
	max-width: 900px;
	padding: 2rem;
	.markdown-body ul {
		list-style: inside;
	}
	h5 {
		margin-bottom: 0.25rem;
		color: var(--color-fg-muted);
	}
	ul.references {
		list-style: circle;
		font-size: 0.9rem;
		font-weight: 100;
		a {
			color: var(--color-fg-subtle);
			text-decoration: underline;
		}
		a:hover {
			color: var(--color-fg-default);
		}
	}
	pre.highlight {
		.block {
			display: block;
			padding-left: 1rem;
		}
		.name {
			color: var(--color-prettylights-syntax-entity);
		}
		.title {
			color: var(--color-accent-emphasis);
		}
		.symbol {
			color: var(--color-prettylights-syntax-brackethighlighter-angle);
		}
		.type {
			font-style: italic;
			color: var(--color-prettylights-syntax-markup-italic);
		}
		.literal {
			font-weight: 600;
			color: var(--color-accent-emphasis);
		}
		.value {
			font-weight: 600;
			color: var(--color-prettylights-syntax-variable);
		}
		a {
			text-decoration: underline;
			text-decoration-color: var(--color-border-default);
		}
		a:hover {
			text-decoration-color: var(--color-accent-fg);
		}
	}

	yaf-widget-flags {
		font-size: 1rem;
		font-weight: 300;
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
		.flag {
			padding: 0.5rem;
			border: 1px solid var(--color-border-default);
		}
	}

	yaf-content-marked.markdown-body {
		display: block;
		margin: 0 1rem;
	}

	& > yaf-content-hierarchy > ul {
		background-color: var(--color-canvas-subtle);
		& li:last-child {
			margin-bottom: 1rem;
		}
		& li:first-child {
			margin-top: 1rem;
		}
	}
	yaf-content-hierarchy {
		h5 {
			cursor: pointer;
			display: flex;
			align-items: center;
		}
		ul {
			font-size: 0.9rem;
		}
		li.target {
			font-weight: 600;
		}
	}
	yaf-content-hierarchy.closed {
		h5 .yaficon {
			rotate: 180deg;
		}
	}
	yaf-content-header {
		pre {
			white-space: pre-wrap;
			line-height: 1.2rem;
		}

		h1 {
			position: relative;
			display: flex;
			align-items: center;
			.name {
				cursor: pointer;
			}
		}
		h1 > span {
			font-size: 1rem;
		}
		.name,
		.parameters {
			color: var(--color-accent-emphasis);
			font-size: 2.5rem;
			font-weight: 400;
		}
		.parameters {
			font-style: italic;
		}
		.kind {
			position: absolute;
			left: 0;
			bottom: 100%;
			background: var(--color-accent-fg);
			color: var(--color-canvas-subtle);
			padding: 5px 10px;
		}

		.signature {
			display: block;
			margin-left: 1rem;
		}
		.type {
			font-style: italic;
		}
		.symbol.nl {
			display: block;
		}
	}

	@import 'yafSignature.scss';
	@import 'yafMemberGroups.scss';
	@import 'yafMember.scss';
}
