yaf-chrome-left,
yaf-chrome-content {
	display: block;
	position: absolute;
	overflow: scroll;
	height: 100%;
	top: 0;
	scroll-behavior: smooth;
}
yaf-chrome-left {
	width: var(--dim-menu-width);
	left: 0;
	overflow: hidden;

	@import 'yafNavigation.scss';
}

@media screen and (max-width: 900px) {
	yaf-chrome-left {
		display: none;
	}
}
yaf-chrome-header {
	display: block;
	width: 100%;
	height: var(--dim-header-height);
	background: var(--color-accent-fg);
	position: fixed;
	z-index: 100;
	top: 0;
	display: flex;
	align-items: stretch;
	#breadcrumb {
		display: inline-block;
		display: flex;
		align-items: stretch;
		color: var(--color-canvas-subtle);
	}
	a {
		height: 100%;
		text-decoration: none;
		color: var(--color-canvas-subtle);
		padding: 0 0.5rem;
		display: flex;
		align-items: center;
	}
	.divider {
		display: flex;
		align-items: center;
	}
}
yaf-chrome-content {
	width: calc(100vw - var(--dim-menu-width));
	right: 0;
	padding-top: var(--dim-header-height);

	@import '../github-markdown.scss';
	@import 'yafContent.scss';
}
