* {
	box-sizing: border-box;
}
body{
	background: var(--light-color-background);
	font-family: 'open_sansregular';
}
#main {
	display: flex;
	height: 100vh;
	width: 100vw;
	position: relative;
}
#menu {
	width:450px;
	height: 100%;
	overflow: auto;
	padding: 1rem;
}
#content {
	padding: 1rem;
	height: 100%;
	overflow: auto;
}
.text-light,
nav 
{
	font-family: 'open_sanslight'
}
.text-bold,
nav .parent > a
{
	font-family: 'open_sanssemibold'
}
:root {
    --light-color-background: #f2f4f8;
    --light-color-background-secondary: #eff0f1;
	--light-color-text: #222;

	--yaf-menu-lines: lightgrey;
	--yaf-menu-lineheight: 2.5rem;
	--yaf-menu-lineheight-half: calc(var(--yaf-menu-lineheight)/2);
}
#yaf-nav-primary a {
	display:block;
	padding-left: 2em;
	text-decoration: none;
	color: var(--light-color-text)
}
#yaf-nav-primary .root,
#yaf-nav-primary .root ul {
	margin: 0 0 0 1rem;
	padding: 0;
	list-style: none;
	position: relative;
}

#yaf-nav-primary .root ul {
	margin-left: 1rem;
}

#yaf-nav-primary .root:before,
#yaf-nav-primary .root ul:before {
	content: "";
	display: block;
	width: 0;
	position: absolute;
	top: calc(var(--yaf-menu-lineheight-half)*-1 );
	bottom: 0;
	left: 0;
	border-left: 1px solid var(--yaf-menu-lines);
}

#yaf-nav-primary .root li {
	margin: 0;
	padding: 0 1rem;
	/* indentation + .5em */
	line-height: var(--yaf-menu-lineheight);
	vertical-align: middle;
	/* default list item's `line-height` */
	font-weight: bold;
	position: relative;
}

#yaf-nav-primary .root li:before {
	content: "";
	display: block;
	width: 2rem;
	/* same with indentation */
	height: 0;
	border-top: 1px solid var(--yaf-menu-lines);
	margin-top: -1px;
	/* border top width */
	position: absolute;
	top: var(--yaf-menu-lineheight-half);
	/* (line-height/2) */
	left: 0;
}

#yaf-nav-primary .root li:last-child:before {
	background: var(--light-color-background);
	height: auto;
	top: var(--yaf-menu-lineheight-half);
	bottom: 0;
}
















