:root {
    --light-color-background: #f2f4f8;
    --light-color-background-secondary: #eff0f1;
	--light-color-text: #222;

	--yaf-menu-lineColor: lightgrey;
	--yaf-menu-lineheight: 2.5rem;
	--yaf-menu-lineheight-half: calc(var(--yaf-menu-lineheight)/2);
	--yaf-menu-gutterWidth: .5rem;
}

* {
	box-sizing: border-box;
}
body{
	background: var(--light-color-background);
	font-family: 'open_sansregular';
}

.text-light,
nav 
{
	font-family: 'open_sanslight'
}
.text-bold,
nav .parent > a
{
	font-family: 'open_sanssemibold'
}
h1, h2
{
	font-family: 'open_sansbold';
}
h1 {
	font-size: 1.5rem;
}
h2 {
	font-size: 1.3rem;
}


#main {
	display: flex;
	height: 100vh;
	width: 100vw;
	position: relative;
}
#sidebar {
	flex: 0 0 360px;
	height: 100%;
	display: flex;
	flex-direction: column;
}
#menuHeader{
	width: 100%;
	padding:1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#logo {
	height:80px;
	width: auto;
	margin-bottom: 1rem;
	outline: 0;
}
#search {
	margin-top: 1rem;
	width: 100%;
	border: 1px solid var(--yaf-menu-lineColor);
	line-height: 1.5rem;
	border-radius: 0;
}
#search:hover, #search:focus {
	outline: 0;
}
#menu {
	overflow: auto;
	padding: 1rem;
}
#content {
	padding: 1rem;
	height: 100%;
	overflow: auto;
}

#yaf-nav-primary a {
	display:block;
	padding-left: 2em;
	text-decoration: none;
	color: var(--light-color-text)
}
#yaf-nav-primary a:hover{
	background: var(--light-color-background-secondary)
}
#yaf-nav-primary .root,
#yaf-nav-primary .root ul {
	margin: 0 0 0 1rem;
	padding: 0;
	list-style: none;
	position: relative;
}

#yaf-nav-primary .root ul {
	margin-left: 1rem;
}

#yaf-nav-primary .root:before,
#yaf-nav-primary .root ul:before {
	content: "";
	display: block;
	width: 0;
	position: absolute;
	top: calc(var(--yaf-menu-lineheight-half)*-1 );
	bottom: 0;
	left: 0;
	border-left: 1px solid var(--yaf-menu-lineColor);
}

#yaf-nav-primary .root li {
	margin: 0;
	padding: 0 var(--yaf-menu-gutterWidth);
	line-height: var(--yaf-menu-lineheight);
	vertical-align: middle;
	font-weight: bold;
	position: relative;
}

#yaf-nav-primary .root li:before {
	content: "";
	display: block;
	width: calc(var(--yaf-menu-gutterWidth)*2);
	height: 0;
	border-top: 1px solid var(--yaf-menu-lineColor);
	margin-top: -1px;
	position: absolute;
	top: var(--yaf-menu-lineheight-half);
	left: 0;
}

#yaf-nav-primary .root li:last-child:before {
	background: var(--light-color-background);
	height: auto;
	top: var(--yaf-menu-lineheight-half);
	bottom: 0;
}
















